# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
/media/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
env/
*.env

# OS
.DS_Store

# Tailwind or Node
node_modules/
staticfiles/
static/css/
